@use "../variables";
@use "../functions";
@use "reset";
@use "contenedor";


.articulo {
  margin-block: 1rem;

  @media (min-width: 600px) {
    margin-inline: 1rem;
    margin-bottom: 5rem;
  }
  
  @media (min-width: 768px) {
    margin-inline: 2rem;
  }

  @media (min-width: 1000px) {
    max-width: 1000px;
    margin-bottom: 10rem;
  }

  &__titulo-principal {
    font-family: variables.$font-family-sans-serif;
    font-size: 2rem;
    text-align: center;

    @media (min-width: 600px) { font-size: 2.5rem; }

    @media (min-width: 1000px) {
      margin-block: 2rem;
      font-size: 3rem;
    }
  }

  &__titulo-secundario {
    margin-top: 5rem;
    margin-bottom: 1.5rem;
    font-family: variables.$font-family-sans-serif;
    font-size: 1.5rem;

    @media (min-width: 1000px) { font-size: 2rem; }
  }

  &__subtitulo {
    margin-top: 3rem;
    font-size: 0.9rem;
    text-align: center;

    @media (min-width: 460px) { font-size: 1rem; }

    @media (min-width: 1000px) { 
      margin-top: 5rem;
      font-size: 1.25rem;
    }
  }

  &__titulo-icono {
    margin-right: 0.5rem;
    text-align: start;
  }

  &__figure {
    margin-block: 3rem;

    @media (min-width: 1000px) { margin-block: 5rem; }
  }

  &__figure-imagen {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
  }

  &__figure-subtitulo {
    font-family: variables.$font-family-sans-serif;
    font-size: 0.9rem;
    text-align: end;

    @media (min-width: 1000px) { font-size: 1.15rem; }
  }

  &__enlace {
    font-family: variables.$font-family-sans-serif;
    font-weight: bold;
    color: functions.colores("enlace", "defecto");
    text-decoration: none;
    position: relative;

    &:hover,
    &:focus {
      color: functions.colores("enlace", "hover");
      text-decoration-style: solid;
    }

    &::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -2px;
      height: 2px;
      width: 0;
      background-color: functions.colores("enlace", "hover");
      transition: width 0.5s ease;
    }

    &:hover::after,
    &:focus::after {
      width: 100%;
    }
  }

  &__parrafo {
    margin-bottom: 2rem;
    font-size: 1.15rem;
    line-height: 2rem;

    @media (min-width: 1000px) { font-size: 1.25rem; }
  }
}

.youtube {
  position: relative;
  aspect-ratio: 16/9;
  cursor: pointer;

  &__foto {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  &__play {
    position: absolute;
    inset: 0;
    display: grid;
    place-items: center;
    font-size: 4rem;
    color: white;
    background: rgba(0, 0, 0, 0.35);
    border: 0;
    pointer-events: none;
  }
}
