//@use "../variables";
//@use "../functions";

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 200px;
  padding-inline: 1rem;
  background-color: functions.colores("fondo", "primario");

  @media (min-width: 460px) { align-items: center; }

  &__parrafo {
    margin-block: 0.75rem;
    color: functions.colores("texto", "fondo-oscuro");
    font-family: variables.$font-family-sans-serif;

    @media (min-width: 460px) { font-size: 1.15rem; }
  }
}