@use "../variables";
@use "../functions";

@keyframes rebote {
  0% { transform: translateY(0); }
  30% { transform: translateY(-6px); }
  50% { transform: translateY(0); }
  70% { transform: translateY(-3px); }
  100% { transform: translateY(0); }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  width: 100%;
  min-height: 150px;
  padding-block: 1rem;
  background-color: functions.colores("fondo", "primario");

  @media (min-width: 1000px) { min-height: 200px; }

  &__logo {
    font-family: variables.$font-family-logo;
    font-size: 2rem;
    color: functions.colores("texto", "fondo-oscuro");

    @media (min-width: 600px) { font-size: 2.5rem; }

    @media (min-width: 1000px) { font-size: 3.5rem; }
  }
}

.menu {
 
  &__lista {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

    @media (min-width: 1000px) { gap: 3rem; }
  }

  &__item {
    list-style-type: none;
    text-align: center;
  }

  &__enlace {
    display: inline-block;
    width: 80px;
    padding: 0.5rem;
    border: 2px solid functions.colores("fondo", "primario");
    border-radius: 15px;
    color: functions.colores("fondo", "primario");
    background-color: functions.colores("fondo", "secundario");
    font-family: variables.$font-family-sans-serif;
    font-weight: bold;
    text-decoration-line: none;
    -webkit-tap-highlight-color: transparent;

    @media (min-width: 1000px) {
      width: 120px;
      font-size: 1.25rem;
    }

    &:hover,
    &:focus {
      outline: none;
      border: 2px solid functions.colores("fondo", "secundario");
      color: functions.colores("texto", "fondo-oscuro");
      background-color: functions.colores("fondo", "primario");
      animation: rebote 0.5s ease;
    }

    &--actual {
      outline: none;
      border: 2px solid functions.colores("fondo", "secundario");
      color: functions.colores("texto", "fondo-oscuro");
      background-color: functions.colores("fondo", "primario");

      &:hover,
      &:focus {
        animation: none;
      }
    }
  }

  
}