@use "../variables";
@use "../functions";
@use "reset";
@use "contenedor";
@use "titulo";
@use "tarjetas";
@use "buttons";

.portada {
  background-image: url(#{variables.$imagen-portada});
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  height: 300px;
  padding-left: 5%;
  padding-top: 2.5%;

  @media (min-width: 460px) {
    padding-block: 1rem;
    height: auto;
    aspect-ratio: 16/9;
  }

  @media (min-width: 1000px) {
      padding-left: 6%;
      padding-top: 3.5%;
    }

  @media (min-width: 1200px) {
      padding-left: 7.5%;
      padding-top: 5%;
  }

  &__titulo {
    font-family: variables.$font-family-logo;
    font-size: 2rem;
    color: functions.colores("texto", "fondo-claro");

    @media (min-width: 460px) {
      font-size: 2.5rem;
    }

    @media (min-width: 1000px) {
      font-size: 3rem;
    }

    @media (min-width: 1200px) {
      font-size: 3.5rem;
    }

    @media (min-width: 1600px) {
      font-size: 4.5rem;
    }
  }

  &__parrafo {
    max-width: 75%;
    font-family: variables.$font-family-sans-serif;
    font-size: 1.15rem;
    font-weight: 600;

    @media (min-width: 600px) {
      font-size: 1.25rem;
    }

    @media (min-width: 800px) {
      font-size: 1.5rem;
    }

    @media (min-width: 1000px) {
      font-size: 1.75rem;
    }

    @media (min-width: 1200px) {
      font-size: 2rem;
    }

    @media (min-width: 1600px) {
      font-size: 3rem;
      max-width: 60%;
    }
  }

  &__transparente {
    background-color: functions.colores("fondo", "secundario-transparente");
  }
}