@use "../variables";
@use "../functions";

.listado-tarjetas {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @media (min-width: 460px) {
    margin-inline: 1rem;
    margin-bottom: 5rem;
  }

  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  @media (min-width: 1000px) {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
  }
}

.tarjeta {
  display: flex;
  flex-direction: column;
  flex: 1;
  border-bottom: 2px solid functions.colores("fondo", "primario");
  max-width: 324px;

  @media (min-width: 768px) {
    border: 2px solid functions.colores("fondo", "primario");
    max-width: 340px;
    padding: 0.5rem;
  }

  &:last-child {
    border-bottom: none;

    @media (min-width: 768px) { border-bottom: 2px solid functions.colores("fondo", "primario"); }
  }

  &__foto { 
    align-self: center;
    overflow: hidden;

    &:hover .tarjeta__foto-imagen {
      transform: scale(1.2);
    }
  }

  &__foto-imagen {
    width: 324px;
    height: 182px;
    //aspect-ratio: 16/9;
    object-fit: cover;
    transform-origin: center;
    transition: transform 0.6s cubic-bezier(.22, .61, .36, 1);
  }

  &__texto { padding: 1rem; }

  &__texto-titulo {
    font-size: 1.35rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    font-family: variables.$font-family-sans-serif;

    @media (min-width: 460px) { 
      font-size: 1.75rem;
      padding-bottom: 1rem;
    }

    @media (min-width: 1000px) { padding-bottom: 1.5rem; }

  }

  &__texto-enlace {
    text-decoration-line: none;
    color: functions.colores("texto", "fondo-claro");

    &:hover,
    &:focus { text-decoration-line: underline; }
  }

  &__texto-parrafo {
    font-size: 1.15rem;
    line-height: 1.5rem;

    @media (min-width: 460px) { 
      line-height: 1.75rem;
    }

    @media (min-width: 1000px) { font-size: 1.25rem; }
  }

}