@font-face {
    font-family: 'Pacifico';
    src: url('../fonts/Pacifico-Regular.woff2') format('woff2'),
        url('../fonts/Pacifico-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}